<div class="container">
    <section>
        <div class="form-group">
            <h1>{{Task.name}}</h1>
        </div>
        <div class="form-group">
            <div>
                <strong>Description</strong>
            </div>
            <div>
                <p>{{Task.description}}</p>   
            </div>
        </div>
        <div class="form-group">
            <div>
                <strong>Deadline</strong>
            </div>
            <div>
                <p>{{Task.endDate}}</p>   
            </div>
        </div>
        <div class="form-group">
            <div>
                <strong>Subtasks</strong>
            </div>
            <div>
                <li *ngFor="let sub of Task.subTasks">{{sub.description}}</li>
            </div>
        </div>
        <div class="form-group">
            <div>
                <strong>Assigned to</strong>
            </div>
            <div>
                <li *ngFor="let handler of Task.users">{{handler}}</li>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <strong>Comments</strong>
                <div class="comment">
                    <section *ngFor="let com of Task.comments">
                        <strong>{{com.authorId}} - {{com.dateOfCreation}}</strong>
                        <p>{{com.content}}</p>
                    </section>
                </div>
            </div>
            <div class="container">
                <textarea placeholder="Comment" class="form-control comment-input" [(ngModel)]="Comment"></textarea>
                <button class="btn btn-primary btn-block" (click)="comment()">Comment</button>
            </div>
        </div>
    </section>
    <button class="btn btn-primary btn-block" (click)="edit()">Edit task</button>
    <button class="btn btn-secondary btn-block" (click)="back()">Back to project</button>
    <button class="btn btn-danger btn-block" (click)="delete()">Delete task</button>
</div>