<div class="container">
    <span class="card" style="width: 18rem;" *ngFor="let account of Accounts; let i = index">
        <div class="card-body">
            <h5 class="card-title">{{account.name}}</h5>
            <p class="card-subtitle mb-2 text-muted">Username: {{account.username}}</p>
            <p class="card-text">Phone: {{account.phoneNumber}}</p>
            <p class="card-text">Email: {{account.email}}</p>
        </div>
        <div *ngIf="User.uniqueRoles.includes('ADMIN')">
            <button class="btn btn-primary btn-block" (click)="edit(i)">Edit</button>
        </div>
    </span>
</div>
